.gallery1{
	height: 300px;
	width: 400px;
	padding: 20px;
	border: 2px solid; 
}

body{
	padding-left: 350px;
}

p{
	padding-left: 100px;
	height: 50px;
	font-family: Avenir;
	color: grey;
	text-decoration: bold;
	text-align: center;
	font-size: 40px;
}